<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PDF-file uploading</h1>
    <p>{{example_pdf.title}}</p>
    <ul>
        {% for f in example_pdf %}
            <h2>{{ f.title }}</h2>
            {% comment %} <a href="{{ f.file.url }}">Скачать PDF</a> {% endcomment %}
            {% comment %} width="800" height="800" {% endcomment %}
            {% comment %} <embed src="{{ file.cover.url}}" type ="application/pdf" alt="{{ FilePdf.title}}"> {% endcomment %}
            <iframe src="{{ f.file.url}}" type ="application/pdf" alt="{{ file.title}}" ></iframe>
        {% endfor %}
    </ul>
</body>
</html>